/* ---------------------------------------------------
 #header
------------------------------------------------------ */
.header-section {
	min-height: 6.625rem;
}
/* ---------------------------------------------------
 #Logo Section
------------------------------------------------------ */

/* ---------------------------------------------------
 #Menu
------------------------------------------------------ */
.nav li a {
    padding: 1rem 1.2rem;
}
.nav li:hover > a {
    transform: scale(0.8);
    color: #0dbf07;
}
.sub-menu {
    top: 100%;
    left: 0;
    width: 15rem;
}
.sub-menu li a {
    border-bottom: 0.1rem dotted #ddd;
}
.sub-menu .sub-menu {
    left: 100%;
    top: 0;
}
.nav li:hover > .sub-menu {
    display: block;
}
/* ---------------------------------------------------
 #Menu Control
------------------------------------------------------ */
.menu-control {
    width: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.menu-control .line {
    background: #000;
    padding: 0.1rem;
    margin-bottom: 0.3rem;
    pointer-events: none;
}

@media (max-width: 991.98px) { 
    .nav {
        position: absolute;
        top: 6.8rem;
        left: 0;
        width: 100%;
        background: #fff;
        display: none;
        z-index: 2;
    }
    .show-nav .nav {
        display: block;
    }
    .nav li {
        display: block;
    }

    .nav li a {
        border-bottom: 0.1rem dotted #ddd !important;
    }

    .nav li .sub-menu {
        display: block;
        position: relative;
        top: unset;
        left: unset;
        width: unset;
    }
    .menu-control {
        display: block;
    }
}